parameters:
	level: 9
	paths:
		- %currentWorkingDirectory%/inc
	bootstrapFiles:
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/quickwp.php
	checkGenericClassInNonGenericObjectType: false
includes:
	- %currentWorkingDirectory%/vendor/szepeviktor/phpstan-wordpress/extension.neon